@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;600;700&display=swap');

/* Shared Styles Here */
:root {
    --primary-color: #3A3A3A;
    --white-color: #FFF;
    --primary-font-size: 1rem;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 100px 120px;
}

.content-description {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: var(--primary-font-size);
    font-weight: 600;
}

.primary-btn {
    border: none;
    border-radius: 40px;
    background: #E02C6D;
    color: var(--white-color);
    font-family: Poppins;
    font-size: var(--primary-font-size);
    font-weight: 700;
    padding: 12px 24px;
    margin-top: 25px;
    cursor: pointer;
}

/* Header styles */

.heading {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    align-items: baseline;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.menu>ul {
    display: flex;
}

.menu>ul li {
    list-style: none;
    margin-right: 35px;
    font-size: var(--primary-font-size);
    font-weight: 600;
    cursor: pointer;
}

.header-section {
    display: flex;
    width: ;
    color: var(--primary-color);
    padding: 70px;
}

.header-content {
    width: 100%;
}

.header-content-title {
    font-size: 3.25rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.header-content-img {
    width: 440px;
    height: 414px;
    background: url(./images/Circle\ design.svg);
}

.sponsorship {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 15px;
    background: var(--white-color);
    box-shadow: 0 0 0 0.06px;
}

section {
    margin-top: 100px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.section-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2rem 0;
}
.collection-item{
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}

.collection-item:hover{
    border: 2px solid #787885;
    cursor: pointer;
} 
.product-name {
    color: #18191F;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}

.price {
    color: #000000de;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
}

.product-description{
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    body {
        margin: 25px 10px;
    }

    .heading {
        flex-direction: column;
    }

    .header-title {
        margin-left: 10%;
    }

    .menu>ul {
        flex-direction: column;
        gap: 20px;
    }

    .header-section {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .header-content-img {
        width: 257px;
        height: 257px;
        margin-left: 20px;

    }

    .header-content-img img {
        width: 257px;
        height: 257px;
        padding: 5px;
    }

    .header-content-title {
        font-size: 28px;
    }

    .header-content>button {
        margin-left: 80px;
    }

    .sponsorship {
        flex-wrap: wrap;
    }

    .collection{
        display: flex;
        flex-direction: column;
    }
}